@font-face {
    font-family: "pixel-font";
    src: url(/fonts/prstartk.ttf);
}
body {
    background-color: #DDC8FF;
    font-family: "pixel-font";
}
#main-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#the-quote {
    border-radius: 12px;
    border-style: dashed solid;
    padding: 60px;
    font-size: 15pt;
    text-align: center;
}

#btn-div {
    display: flex;
    justify-content: center;
}

#btn-quote-flex {
    max-width: 50%;
}

#quote-btn{
    font-family: "pixel-font";
    border-radius: 12px;
    padding: 15px;
}

